text {
    font-size: 20px;
    fill: #4393c3;
}

.selected {
    stroke: #FFC3CE;
    stroke-width: 8px;
}

rect {
    stroke: #636563;
    stroke-width: 1px;
    fill: #D6E3B5;
}

circle {
    stroke: #636563;
    stroke-width: 1px;
    fill: #FEF6EB;
}

g.link {
    stroke: #636563;
    stroke-width: 1px;
}
