rect.dep {
  fill: none;
  stroke: gray;

  &.select-ready {
    fill: lightgoldenrodyellow;
    stroke: darkkhaki;
    stroke-width: 2px;
    transition: fill .2s ease-in-out;
  }
  &.select-ready-origin {
    fill: lightgoldenrodyellow;
    stroke: #FE7367;
    stroke-width: 5px;
    transition: fill .2s ease-in-out;
  }
  &.selected {
    fill: #CEF6CE;
    stroke: lime;
    stroke-width: 2px;
    transition: fill .2s ease-in-out;
  }
  &.selected-origin {
    fill: #CEF6CE;
    stroke: #FE7367;
    stroke-width: 5px;
    transition: fill .2s ease-in-out;
  }
}

circle.dep {
  fill: #CEE3F6;
  stroke: none;

  &.select-ready {
    fill: lightskyblue;
    stroke: #58FAF4;
    stroke-width: 2px;
    transition: fill .2s ease-in-out;
  }
  &.select-ready-origin {
    stroke: #FE7367;
    stroke-width: 5px;
    transition: fill .2s ease-in-out;
  }
  &.selected {
    fill: #58FAF4;
    stroke: #819FF7;
    stroke-width: 2px;
    transition: fill .2s ease-in-out;
  }
  &.selected-origin {
    fill: #819FF7;
    stroke: #FE7367;
    stroke-width: 5px;
    transition: fill .2s ease-in-out;
  }
}

text.dep {
  fill: #303030;
  font-size: 12pt;

  &.layer {
    text-anchor: end;
  }
  &.node {
    text-anchor: start;
  }
  &.tp {
    fill: darkgray;
    text-anchor: middle;
  }
}

line.dep {
  stroke-width: 5px;
  stroke-opacity: .2;
  &.node {
    stroke: lawngreen;
  }
  &.tp {
    stroke: skyblue;
  }
  transition: stroke .2s ease-in-out;
}

marker.dep {
  stroke-opacity: .3;
  &.node {
    fill: lawngreen;
  }
  &.tp {
    fill: skyblue;
  }
}
