@import "node";
@import "term-point";
@import "./text-label";

line.dep {
  stroke-opacity: .5;
  &.node {
    stroke: lawngreen;
  }
  &.tp {
    stroke: skyblue;
  }
  transition: stroke .2s ease-in-out;
}

marker.dep {
  stroke-opacity: .5;
  &.node {
    fill: lawngreen;
  }
  &.tp {
    fill: skyblue;
  }
}
