%select-ready {
  stroke: #FE7367;
  transition: fill .2s ease-in-out;
}
%selected {
  stroke: #FE7367;
  stroke-width: 2px;
  transition: fill .2s ease-in-out;
}

// diff node/tp set
%changed {
  stroke: orange;
  stroke-width: 3pt;
}
%added {
  stroke: green;
  stroke-width: 3pt;
}
%deleted {
  stroke: darkred;
  stroke-width: 3pt;
}

%changed-highlight {
  stroke: yellow;
  stroke-width: 5pt;
}
%added-highlight {
  stroke: limegreen;
  stroke-width: 5pt;
}
%deleted-highlight {
  stroke: orangered;
  stroke-width: 5pt;
}

%inactive {
  fill-opacity: 0.2;
  stroke-opacity: 0.1;
  transition: fill-opacity .5s ease-in-out, stroke-opacity .5s ease-in-out;
}
%active {
  fill-opacity: 1.0;
  stroke-opacity: 1.0;
  transition: fill-opacity .5s ease-in-out, stroke-opacity .5s ease-in-out;
}

rect.dep {
  fill: none;
  stroke: gray;

  &.select-ready {
    @extend %select-ready;
    fill: lightgoldenrodyellow;
  }
  &.selected {
    @extend %selected;
    fill: #CEF6CE;
  }

  &.inactive {
    @extend %inactive;
  }
  &.active {
    @extend %active;
  }
  &.changed {
    @extend %changed;
    &.select-ready {
      @extend %changed-highlight;
    }
  }
  &.added {
    @extend %added;
    &.select-ready {
      @extend %added-highlight;
    }
  }
  &.deleted {
    @extend %deleted;
    &.select-ready {
      @extend %deleted-highlight;
    }
  }
}

circle.dep {
  fill: #CEE3F6;
  stroke: none;

  &.select-ready {
    @extend %select-ready;
    fill: #58FAF4;
  }
  &.selected {
    fill: #819FF7;
    @extend %selected;
  }
  &.inactive {
    @extend %inactive;
  }
  &.active {
    @extend %active;
  }
  &.changed {
    @extend %changed;
    &.select-ready {
      @extend %changed-highlight;
    }
  }
  &.added {
    @extend %added;
    &.select-ready {
      @extend %added-highlight;
    }
  }
  &.deleted {
    @extend %deleted;
    &.select-ready {
      @extend %deleted-highlight;
    }
  }
}

text.dep {
  // do not specify font-size except screen message
  // size of svg object label must be scaled
  // when these DOMs are added.
  fill: #303030;
  &.layer {
    text-anchor: end;
  }
  &.node {
    text-anchor: start;
    &.inactive {
      @extend %inactive;
    }
    &.active {
      @extend %active;
    }
  }
  &.tp {
    fill: darkgray;
    text-anchor: middle;
    &.inactive {
      @extend %inactive;
    }
    &.active {
      @extend %active;
    }
  }
  &.warning {
    fill: red;
    font-weight: bold;
  }
}

line.dep {
  stroke-opacity: .5;
  &.node {
    stroke: lawngreen;
  }
  &.tp {
    stroke: skyblue;
  }
  transition: stroke .2s ease-in-out;
}

marker.dep {
  stroke-opacity: .5;
  &.node {
    fill: lawngreen;
  }
  &.tp {
    fill: skyblue;
  }
}
