@import "node";
@import "term-point";
@import "link";
@import "text-label";

$grid_x_color: limegreen;
$grid_y_color: mediumspringgreen;

%grid-handle {
  fill-opacity: 0.8;
  stroke: none;
}

circle.nest {
  &.grid-x-handle {
    @extend %grid-handle;
    fill: $grid_x_color;
  }
  &.grid-y-handle {
    @extend %grid-handle;
    fill: $grid_y_color;
  }
}

text.nest {
  &.grid-x-handle, &.grid-y-handle {
    text-anchor: middle;
    fill: white;
    font-weight: bold;
  }
}

line.nest {
  &.grid-x {
    stroke: $grid_x_color;
  }
  &.grid-y {
    stroke: $grid_y_color;
  }
}

