$grid_x_color: limegreen;
$grid_y_color: mediumspringgreen;

$selected_fill_color: palevioletred;
$selected_stroke_color: #FE7367;
$checked_stroke_color: cyan;
$checked_fill_color: cyan;

$tp_fill_color: #7C7354;

rect.nest {
  fill: none;
  &.selected {
    stroke: $selected_stroke_color;
    stroke-width: 8px;
    stroke-opacity: 0.8;
    fill: $selected_fill_color;
    fill-opacity: 0.4;
  }
}

circle.nest {
  &.tp {
    fill: $tp_fill_color;
    stroke: none;
  }
  &.grid-x-handle {
    fill: $grid_x_color;
    fill-opacity: 0.8;
    stroke: none;
  }
  &.grid-y-handle {
    fill: $grid_y_color;
    fill-opacity: 0.8;
    stroke: none;
  }
  &.checked {
    fill: $checked_fill_color;
  }
  &.selected {
    stroke: $selected_stroke_color;
    stroke-width: 4px;
    fill: $selected_fill_color;
  }
}

text.nest {
  fill: #303030;
  font-size: 10pt;
  &.node {
    dominant-baseline: hanging;
  }
  &.tp {
    text-anchor: middle;
    dominant-baseline: hanging;
  }
  &.grid-x-handle, &.grid-y-handle {
    text-anchor: middle;
    dominant-baseline: central;
    fill: white;
    font-weight: bold;
    font-size: 15pt;
  }
  &.warning {
    fill: red;
    fill-opacity: 0.5;
    font-size: 12pt;
    font-weight: bold;
  }
}

line.nest {
  &.support-tp {
    stroke: orange;
    stroke-width: 2pt;
    stroke-opacity: 0.8;
  }
  &.grid-x {
    stroke: $grid_x_color;
    stroke-width: 1pt;
    stroke-dasharray: 5;
  }
  &.grid-y {
    stroke: $grid_y_color;
    stroke-width: 1pt;
    stroke-dasharray: 5;
  }
  &.checked {
    stroke-width: 5pt;
    stroke: $checked_stroke_color;
    stroke-opacity: 0.5;
  }
}

polyline.nest {
  fill: none;
  &.tp-tp {
    stroke: $tp_fill_color;
    stroke-width: 2pt;
    stroke-opacity: 0.6;
    stroke-linejoin: round;
  }
  &.checked {
    stroke-width: 5pt;
    stroke: $checked_stroke_color;
    stroke-opacity: 0.5;
  }
}
