rect {
  fill: ivory;
  fill-opacity: 0.4;
  stroke: gray;
}

circle {
  fill: darkcyan;
  stroke: none;
}

text {
  fill: #303030;
  font-size: 10pt;
}

line {
  &.support-tp {
    stroke: lightcoral;
    stroke-width: 2pt;
    stroke-opacity: 0.3;
  }
  &.grid-x {
    stroke: greenyellow;
    stroke-width: 1pt;
    stroke-dasharray: 5;
  }
  &.grid-y {
    stroke: mediumspringgreen;
    stroke-width: 1pt;
    stroke-dasharray: 5;
  }
}

polyline {
  fill: none;
  &.tp-tp {
    stroke: #CEE3F6;
    stroke-width: 4pt;
    stroke-opacity: 0.3;
    stroke-linejoin: round;
  }
}
