@import "node";
@import "term-point";

// defaults
$default_font_size: 10pt;
$default_font_color: #333;
$fixed_stroke: hotpink;

body {
  font-size: $default_font_size;
  color: $default_font_color;
}

svg {
  border: solid 1px;
  margin: 10px;

  &.network {
    &.changed {
      border: solid 3pt $stroke_diff_changed;
    }
    &.added {
      border: solid 3pt $stroke_diff_added;
    }
    &.deleted {
      border: solid 3pt $stroke_diff_deleted;
    }
  }
}

%circle-base {
  fill: $fill_normal1;
  stroke: $stroke_normal;
  stroke-width: 1px;
}

circle.topo {
  @extend %circle-base;

  &.inactive {
    @extend %inactive;
  }
  &.active {
    @extend %active;
  }

  // operation
  &.fixed {
    stroke: $fixed_stroke;
    stroke-width: 2pt;
  }

  // node circle: outer circle
  &.node-circle {
    fill: $fill_normal2;
    stroke: none;

    &.selected-children {
      fill: $fill_select_child;
    }
    &.selected-parents {
      fill: $fill_select_parent;
    }
    &.selected {
      fill: $fill_select;
    }
    &.select-ready {
      fill: $fill_select_ready;
      transition: fill .2s ease-in-out;
    }
  }
}

%link-base {
  stroke: $stroke_normal;
  stroke-width: 1px;
}

line.link {
  @extend %link-base;

  &.inactive {
    @extend %inactive;
  }
  &.active {
    @extend %active;
  }

  &.changed {
    @extend %changed;
  }
  &.added {
    @extend %added;
  }
  &.deleted {
    @extend %deleted;
  }
}

div {
  &.control {
    padding: $default_font_size;
    display: inline-block;
    vertical-align: top;

    ul {
      list-style: none;
      padding-left: 1em;
    }
  }

  &#model-selector {
    width: 20%;
  }

  &#layer-selector {
    width: 20%;
  }

  &#visualizer-selector {
    width: 20%;
  }

  &#legend {
    width: 30%;
  }

  &#visualizer {
    clear: both;
  }

  &.network-layer {
    float: left;
    width: 100%;
    p {
      margin: 0.3em;
    }
  }

  &.info-tables {
    display: inline-block;
    vertical-align: top;
  }
}

// node/termination-point label
text {
  &.tp-label {
    dominant-baseline: central;
    font-size: 8px;
    fill-opacity: 0.5;
  }
  &.node-label {
    dominant-baseline: central;
    font-size: 10px;
  }
}

// info tables
table {
  display: inline-block;
  margin: 0.25em;

  &.node-info-table {
    float: left;
  }
  &.tp-info-table {
    float: right;
  }
  th {
    font-size: $default_font_size;
    padding: 0.25em;
    background: palegoldenrod;
    white-space: nowrap;
  }
  td {
    font-size: $default_font_size;
    padding: 0.25em;
    white-space: nowrap;
    transition: all .2s ease-in-out;

    &.fixed {
      border: 2px solid $fixed_stroke;
    }

    &.selected-children {
      background: $fill_select_child;
    }
    &.selected-parents {
      background: $fill_select_parent;
      color: white;
    }
    &.selected {
      background: $fill_select;
      color: white;
    }
    &.select-ready {
      background: $fill_select_ready;
      color: $default_font_color;
      transition: all .2s ease-in-out;
    }
  }
}
