// color selection
// https://www.w3schools.com/colors/

// fill color
// normal color
$fill_normal1: #FEF6EB; // node center circle
$fill_normal2: lightgray; // node outer circle
// color for object selection (node outer circle)
$fill_select_child: #BDD2FA;
$fill_select_parent: #5E92F2;
$fill_select: #33CCFF;
$fill_select_ready: #66FFFF;
// color for diff state (tp and node center circle)
$fill_diff_changed: #FDED3A;
$fill_diff_deleted: #FE7367;
$fill_diff_added: #92D364;
// stroke color
$stroke_normal: #303030; // for line and circle
$stroke_diff_changed: #CBCB01;
$stroke_diff_deleted: #B71001;
$stroke_diff_added: #66B032;
// defaults
$default_font_size: 10pt;

body {
  font-size: $default_font_size;
}

svg {
  border: solid 1px;
  margin: 10px;

  &.network {
    &.changed {
      border: solid 3pt $stroke_diff_changed;
    }
    &.added {
      border: solid 3pt $stroke_diff_added;
    }
    &.deleted {
      border: solid 3pt $stroke_diff_deleted;
    }
  }
}

text {
  fill: $stroke_normal;
  &.select-ready {
    font-weight: bold;
  }
}

%circle-base {
  fill: $fill_normal1;
  stroke: $stroke_normal;
  stroke-width: 1px;
}

circle {
  // node circle: core(center) circle
  &.node {
    @extend %circle-base;

    &.changed {
      fill: $fill_diff_changed;
    }
    &.added {
      fill: $fill_diff_added;
    }
    &.deleted {
      fill: $fill_diff_deleted;
    }
  }

  &.fixed {
    stroke: crimson;
  }

  // node circle: outer circle
  &.node-circle {
    fill: $fill_normal2;
    stroke: none;

    &.selected-children {
      fill: $fill_select_child;
    }
    &.selected-parents {
      fill: $fill_select_parent;
    }
    &.selected {
      fill: $fill_select;
    }
    &.select-ready {
      fill: $fill_select_ready;
      opacity: 0.5;
    }
  }

  // termination point circle
  &.tp {
    @extend %circle-base;

    &.changed {
      fill: $fill_diff_changed;
    }
    &.added {
      fill: $fill_diff_added;
    }
    &.deleted {
      fill: $fill_diff_deleted;
    }

    &.selected-children {
      fill: $fill_select_child;
    }
    &.selected-parents {
      fill: $fill_select_parent;
    }
    &.selected {
      fill: $fill_select;
    }
    &.select-ready {
      fill: $fill_select_ready;
    }
  }
}

%link-base {
  stroke: $stroke_normal;
  stroke-width: 1px;
}
line.link {
  @extend %link-base;

  &.changed {
    stroke: $stroke_diff_changed;
    stroke-width: 3pt;
  }
  &.added {
    stroke: $stroke_diff_added;
    stroke-width: 3pt;
  }
  &.deleted {
    stroke: $stroke_diff_deleted;
    stroke-width: 3pt;
  }
}

div {
  &.control {
    padding: $default_font_size;
    display: inline-block;
    vertical-align: top;
  }

  &#model-selector {
    width: 20%;
  }

  &#layer-selector {
    width: 20%;
  }

  &#legend {
    width: 50%;
  }

  &#visualizer {
    clear: both;
  }

  &.network-layer {
    float: left;
    p {
      margin: 0.3em;
    }
  }

  &.tooltip {
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    color: #fff;
    font-size: $default_font_size;
    height: auto;
    line-height: 1.1;
    min-height: 25px; // text font size * 1.5
    padding: 10px;
    position: absolute;
    visibility: hidden;
    width: auto;

    &:after {
      border: 12px solid transparent;
      border-left-width: 0;
      border-right-color: #000;
      border-right-color: rgba(0, 0, 0, 0.7);
      content: "";
      display: block;
      left: -12px;
      position: absolute;
      top: 10px;
      width: 0;
    }
  }
}

// styles for tooltip text
.attr {
  color: lightgreen;
}

// node/termination-point label
text {
  dominant-baseline: central;
  font-size: $default_font_size;

  &.tp-label {
    font-size: 8px;
    fill-opacity: 0.5;
  }
  &.node-label {
    font-size: 10px;
  }
}
